<h1>Job</h1>

<p>Title:</p>
<p><%= @job.title %></p>

<p>Description:</p>
<p><%= @job.description %></p>

<p>
  <%= link_to(
    "New Application",
    new_job_application_path(@job)
  )%>
</p>

<% if can? :edit, @job %>
  <p>
    <%= link_to(
      "Edit Job",
      edit_company_job_path(@job.company_id, @job)
    )%>
  </p>
<% end %>
